services:
  frontend:
    build:
      context: ../front
      dockerfile: ./front/DockerFile
    ports:
      - "5173:5173"
    depends_on:
      - backend
  backend:
    build:
      context: ../back
      dockerfile: ./back/DockerFile
    env_file:
      - ../deploy/env/back.env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro # This line mounts the nginx configuration file from the host machine to the container, making it read-only inside the container.
    depends_on:
      - frontend
      - backend
volumes:
  mongo-data: {}