services:
  frontend:
    build:
      context: ../front
      dockerfile: DockerFile
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network
  backend:
    build:
      context: ../back
      dockerfile: DockerFile
    env_file:
      - ../deploy/env/back.env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    networks:
      - app-network
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro # This line mounts the nginx configuration file from the host machine to the container, making it read-only inside the container.
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
volumes:
  mongo-data: {}

networks:
  app-network:
    driver: bridge